[Unit]
Description=Beamy Upgrade Service
After=docker.service

[Service]
ExecStart=/bin/bash ./scripts/trigger-upgrade.sh
WorkingDirectory=/home/pi/beamylabs-start
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
